:root{
   --primary : #FC8500 ; 
}
.text-primary{
   color: #FC8500 !important;
}
/* navbar start */

/* menu responsiveness */
.navbar{
    background-color: #023047;
    
}
.title span{
    color: var(--primary);
}
.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;

}
.btn-border {
    border: 1px solid #FC8500;
    transition: 0.5s ease-in-out;
}
.btn-border:hover{
    color: #FFFFFF !important;
    background-color: #FC8500;
    
}

@media (max-width: 768px){
    .nav_resp_title  {
        display: inline;
        width: 70%;
        margin-top: 2px;
    }
    .menu_icon{
        display: inline;
        width: 20%;
        
    }
    .menu_icon i {
        font-size: 2rem;
        
    }

    .menu_resp{
        background-color: #023047;
        width: 100%;
        position: absolute;
        z-index: 1;
        height: 100vh;
        top: 80px;
        transform: translateX(-100%);
        transition: 0.5s ease-in;
        


    }
    .menu_resp_show{
        transform: translateX(0%);
        transition: 2s ease-out;
    }
    .menu_resp a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 500;
        width: 100%;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 5px 20px 5px;
    }
    
}

/* universal classes  */

.hide{
    display: none !important;
}
.show{
    display: inline !important;
}



/* navbar end */

.side {
   background: linear-gradient(45deg, black, rgb(170, 163, 160), #023047);
   min-height: auto;
}

.side2 {
   height: auto;
}

.side1 {
   height: 690px;
   background: linear-gradient(45deg, rgba(230, 226, 226, 0.7), #023047);
   box-shadow: -10px 0px 10px rgb(238, 238, 240) inset;
}

.lowerpart {
   height: auto;
   background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
   box-shadow: -12px 0px 10px rgb(240, 238, 238);
}

.first_side {
   margin-top: 100px;
   line-height: 100px;
}

.tab1 {
   margin-top: -200px;
}

table th {
   font-size: 1.2rem;
}

table th, td {
   border-bottom: 2px solid white;
   color: rgb(248, 245, 243);
}

table {
   width: 100%;
   border-collapse: collapse;
   border-bottom: 3px solid white;
}


/* Mobile First */
@media (max-width: 425px) {
   .side1 {
       height: 300px;
       background: linear-gradient(45deg, #023047, rgba(0, 0, 0, 0.7));
   }

   .side {
       background: linear-gradient(45deg, #023047, rgb(225, 56, 9), black);
       height: 1000px;
   }

   .tab1 {
       margin-top: 0;
   }

   .upper-part {
       flex-direction: column;
       text-align: center;
   }

   /* Name and Balance on top and aligned vertically */
   .upper-part a {
       margin-bottom: 15px;
   }
}

/* Tablet & Desktop View */
@media (min-width: 426px) and (max-width: 1023px) {
   .side {
       height: auto;
       background: linear-gradient(45deg, #023047, rgba(0, 0, 0, 0.7));
   }

   .side1 {
       width: 100%;
       height: auto;
       box-shadow: -10px 0px 10px rgb(238, 238, 240) inset;
   }

   .side2 {
       height: auto;
   }

   .lowerpart {
       margin-left: 150px;
       height: auto;
       padding: 20px;
       background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
   }

   .tab1 {
       margin-top: 0;
       padding: 10px;
   }

   table th,
   table td {
       font-size: 1rem;
       padding: 5px;
   }

   .user, .history {
       gap: 10px;
   }

   .upper-part {
       flex-direction: column;
       align-items: flex-start;
       gap: 20px;
   }
}


 /* update delete record  */
/* .record {
   height: 100vh;
   position: fixed;
   width: 100%;
  
   background-color: rgba(43, 40, 40, 0.5); 
   top: 0;
   left: 0;
   z-index: 20000;
   display: none !important;
} */


  /* update delete record  */



 /* footer */


footer{
    background-color: #023047;
    min-height: 400px;
}
.copywrite{
    min-height: 50px;
}



/* footer */


 